<header>
  <button class="button-slider" type="button" mat-button (click)="drawer.toggle()"> <mat-icon class="icon">menu</mat-icon></button>
  <a href=""><p class="title-singin">Sing In</p></a>
  <a href="/registration"><p class="title-singup">Sing Up</p></a>
</header>



<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>Example</p>
  </div>

</mat-drawer-container>
